header {
    background-color: #000000;
    color: #FFFFFF;
}

.cabecalho {
    color: #FFFFFF;
    margin-left: 525px;
    margin-right: 550px;
    text-align: center;
    display: flex;
}

.cabecalho-lista-1 {
    color:#FFFFFF;
    margin-left: 199px;
    padding: 40px;
    display: inline-block;
    justify-content: center;
}

.cabecalho-lista-2 {
    color:#FFFFFF;
    margin-left: 190px;
    padding: 40px;
    display: inline-block;
    text-align: center;
}

body {
    background-color: rgb(252, 252, 173);
    color:#000000;
    font-family: 'Poppins', 'sans-serif';
}

.titulo-2 {
    color:#000000;
    justify-content: center;
    display: flex;
}

.paragrafo-1 {
    text-align: center;
    justify-content: center;
} 

.titulo-3 {
    color:#000000;
    justify-content: center;
    display: flex;
}

.paragrafo-2 {
    margin-left: 20x;
    text-align: center;
}

.arduino {
    width: 17%;
    display: inline;
    padding: 30px;
}

.protoboard {
    width:25%;
    display: inline;
    padding: 120px;
}

.multimetro {
    width: 20%;
    margin-right: 30px;
}

.capacitor {
    width: 15%;
    display: inline;
    padding: 30px;
    margin-left: 60px;
    margin-right: 40px;
}

.sensor-LDR {
    width:20%;
    display: inline;
    padding: 20px;
    margin-left: 150px;
}

.LED {
    width:20%;
    display: inline;
    padding: 20px;
    margin-left: 140px;

}

footer {
    background-color: #000000;
    color:#FFFFFF;
    text-align: center;
    padding: 10px;
}

p{
    justify-content: center;
    padding: 20px;
}

.preco-1 {
    width: 25%;
    display: inline-block;
    margin-left: 15px;
    margin-right: 50px;
    text-align: center;
}

.preco-2 {
    width: 25%;
    display: inline-block;
    margin-left: 15px;
    margin-right: 50px;
    text-align: center;
}