header {
    background-color: #000000;
    color: #FFFFFF;
}

.cabecalho {
    color: #FFFFFF;
    margin: center;
}

.cabecalho-lista-1 {
    color:#FFFFFF;
    margin-left: 40px; /*alinhamento à esquerda*/
    padding: 20px; /*espaçamento vertical*/
}

.cabecalho-lista-2 {
    color:#FFFFFF;
    margin-left: 40px;
    padding: 20px;
}

body {
    background-color: rgb(252, 252, 173);
    color:#000000
}

.titulo-2 {
    color:#000000;
    margin: center;

}